<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>itaru`s productlibrary</title>
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <!--  css-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <!--    javascript_test-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"
            type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>


</head>
<body>
<!--このDIVで囲った部分いっぱいに画像を表示-->
<div id="library" class="big-bg">
    <header class="page-header wrapper">
        <h1><a href="index.html"><img class="logo" src="static/images/logo.png" alt="itapro"></a></h1>

        <nav>
            <ul class="main-nav">
                <li><a href="index.html">Top</a></li>
                <li><a href="code.html">Code</a></li>
                <li><a href="library.html">Photos</a></li>
                <li><a href="contact.html">contact</a> </li>
            </ul>

        </nav>

    </header>
    <div class="wrapper">
        <h2 class="page-title">Code</h2>
    </div>
</div>

    <div class="code-body">
        <header class="post-info">
            <h2 class="post-title">pythonコード覚え書き</h2>
<!--            <p class="post-date">3/30<span>2019</span></p>-->
            <img class="post-icon" src="static/images/code_icon.png" alt="film_icon" width=70rem>
            <p class="post-cat">category：code</p>
        </header>

        <p>python使っていての学びなどを自分のための備忘録としてまとめてみようと思います。<br>
           何しろプログラミング初心者のサンデ－プログラマーの作品ですので、泥臭いことや
            要領の悪いことも多いと思いますが、温かい目で見てもらえると幸いです。(画像クリックで移動)
        </p>
        <div class="body-withimage">
        <a href="line_bot.html"><img src="static/images/line.png" alt="line" width=100px></a>
            <div>
                <h3>itaru-bot</h3>
                <h4>オリジナルLine_Bot作成録<br>
                flask,line-bot-sdk,gspread,oauth2client等使用。</h4>
            </div>
    　　 </div>
        <p class="post-info"></p>
        <div class="body-withimage">
        <a href="potate_boy.html"><img src="static/images/potate_boy.jpg" alt="potate_boy" width=100px></a>
            <div>
                <h3>ポテト坊やを探すアプリ</h3>
                <h4>画像マッチングを行うWebアプリ<br>
                opencv,streamlit等使用。</h4>
            </div>
    　　 </div>
        <p class="post-info"></p>
        <div class="body-withimage">
        <a href="python_tips.html"><img src="static/images/code_icon.png" alt="code-icon" width=100px></a>
            <div>
                <h3>pythonのちょっとしたTIPS</h3>
                <h4>自分の為の備忘録として</h4>
            </div>
    　　 </div>

    </div>



</body>
<footer>
    <div class="wrapper">
        <p><small>&copy; 2021 furukawa3152</small></p>
    </div>

</footer>
</html>