<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="google-site-verification" content="dxqbx2k72yDBbKNJcettwy7afQdz3ZqOXnVwmT-ERCU" />
    <!--  OGP-->
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta property="og:url" content="https://itaruweb.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="itaru's product">
    <meta property="og:description" content="非エンジニアのお勉強の記録。htmlとcssをとにかく手を動かして覚えるのだ～!!!">
    <meta property="og:site_name" content=" itaru's product">
    <meta property="og:image" content="https://itaruweb.com/static/images/kaeru_ogp.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@itaru_gt">
    <meta name="twitter:image" content="https://itaruweb.com/static/images/kaeru_ogp.jpg">


    <meta charset="UTF-8">
    <title>itaru's Products</title>
    <meta name="description" content="非エンジニアのお勉強の記録。htmlとcssをとにかく手を動かして覚えるのだ～">
<!--  css-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H0JZEWWF0H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-H0JZEWWF0H');
    </script>

</head>
<body>
<!--このDIVで囲った部分いっぱいに画像を表示-->
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="top"><img class="logo" src="static/images/logo.png" alt="itapro"></a> </h1>
            <nav>
                <button class="btn-menu">Menu</button>
                <ul class="top-nav">
                    <li><a href="top">Top</a> </li>
                    <li><a href="code">Code</a> </li>
                    <li><a href="library">Photos</a> </li>
                    <li><a href="contact">contact</a> </li>
                    <li><a href="profile">Profile</a></li>
                </ul>
            </nav>
        </header>
            <div class="home-content wrapper">
            <h1 class="mainpage-title"> itaru's Products</h1>
            <h3 class="page-subtitle"> Make boring life interesting for myself</h3>
            </div>

<!--            <a class="home-under" href="https://young-forest-09983.herokuapp.com" style="color:#fffefc;text-decoration:none">とりあえず曲をつくる</a>-->
    </div>
    <script src="static/script.js"></script>
</body>
</html>