<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>itaru`s productlibrary</title>
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <!--  css-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <!--    javascript_test-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"
            type="text/javascript"></script>

</head>
<body>
<!--このDIVで囲った部分いっぱいに画像を表示-->
<div id="library" class="big-bg">
    <header class="page-header wrapper">
        <h1><a href="index.html"><img class="logo" src="static/images/logo.png" alt="itapro"></a></h1>

        <nav>
            <ul class="main-nav">
                <li><a href="index.html">Top</a></li>
                <li><a href="code.html">Code</a></li>
                <li><a href="library.html">Photos</a></li>
                <li><a href="contact.html">contact</a> </li>
            </ul>

        </nav>

    </header>
    <div class="wrapper">
        <h2 class="page-title">Film Photos</h2>
    </div>
</div>

<div class="news-contents wrapper">
    <article>
        <header class="post-info">
            <h2 class="post-title">昔撮った写真たち</h2>
<!--            <p class="post-date">3/30<span>2019</span></p>-->
            <img class="post-icon" src="static/images/film_icon.png" alt="film_icon" width=70rem>
            <p class="post-cat">category：photos</p>
        </header>
        <!--        <img src="static/images/img206.jpg" alt="木のトンネル">-->
        <!--        <p class="photo-info">-->
        <!--            camera:Rollei35 film:neopan400-->
        <!--        </p>-->
        <!--        <p class="photo-annotation">-->
        <!--            多分５月くらい。木漏れ日がきれいだったのでおさめたかった。TOPの写真と同じ公園です。-->
        <!--        </p>-->
        <p>CSSのレイアウト練習の為に引っ張り出して来てみました。フィルムカメラで撮影、フィルムスキャナーでデータ化しています。クリックで拡大。</p>
        <div class="wrapper grid">
            <div class="item">
                <a href="static/images/img201.jpg" data-lightbox="group"><img class="photos" src="static/images/img201_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img201.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:neopan400</p>
                <p>ミリオンバンブーという木。いい影を見ると撮りたくなるのは白黒フィルムあるある。</p>
            </div>
            <div class="item">
                <a href="static/images/img206.jpg" data-lightbox="group"><img class="photos" src="static/images/img206_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img206.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:neopan400</p>
                <p>多分５月くらい。木漏れ日がきれいだったのでおさめたかった。TOPの写真と同じ公園です。</p>
            </div>
            <div class="item">
                <a href="static/images/img374.jpg" data-lightbox="group"><img class="photos" src="static/images/img374_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img374.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:neopan400</p>
                <p>左はデジタル。右はアナログ。孫とおじいちゃんって感じ。</p>
            </div>
            <div class="item">
                <a href="static/images/img480.jpg" data-lightbox="group"><img class="photos" src="static/images/img480_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img480.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:portra400</p>
                <p>霜が綺麗。カラ－ネガもまた味があります。</p>
            </div>
            <div class="item">
                <a href="static/images/img569.jpg" data-lightbox="group"><img class="photos" src="static/images/img569_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img569.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:portra400</p>
                <p>カラーネガのちょっと色の情報量落としたようなこの感じが好き。</p>
            </div>
            <div class="item">
                <a href="static/images/img730.jpg" data-lightbox="group"><img class="photos" src="static/images/img730_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img730.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:portra400</p>
                <p>佐賀市内。やりたかったことは何となく分かる。しっかしひと気無いな～</p>
            </div>
            <div class="item">
                <a href="static/images/img744.jpg" data-lightbox="group"><img class="photos" src="static/images/img744_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img744.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:portra400</p>
                <p>電線</p>
            </div>
            <div class="item">
                <a href="static/images/img748.jpg" data-lightbox="group"><img class="photos" src="static/images/img748_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img748.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:portra400</p>
                <p>佐賀市内。「昭和か」と言いたくなる景色だが割と最近。</p>
            </div>
            <div class="item">
                <a href="static/images/img800.jpg" data-lightbox="group"><img class="photos" src="static/images/img800_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img800.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:neopan400</p>
                <p>柄のある壁と窓からの光が楽しい。我が家のトイレである。</p>
            </div>
            <div class="item">
                <a href="static/images/img207.jpg" data-lightbox="group"><img class="photos" src="static/images/img207_s.jpg"></a>
                <!--                <img class="photos" src="static/images/img800.jpg" alt="">-->
                <p class="photo-info">camera:Rollei35 film:neopan400</p>
                <p>topページの写真。木漏れ日とタイルがいい影を作っていて気に入っている写真です。</p>
            </div>
        </div>

    </article>

    <aside>
        <h3 class="sub-title">Photos</h3>
        <h1 class="sub-title2">カメラ紹介</h1>
        <img class="camera-info" src="static/images/IMG_1085.jpg" alt="Rollei35">
        <p>Rollei35という35㎜フィルムカメラです。<br>
            1970年頃製造された、私よりだいぶ年上のカメラ(笑）。ピントも露出もフルマニュアルで、なかなか使いこなすのは難しいですが、デジタルにはない楽しさがあるカメラです。
        </p>
        <a href="https://ja.wikipedia.org/wiki/%E3%83%AD%E3%83%BC%E3%83%A9%E3%82%A4#%E3%83%AD%E3%83%BC%E3%83%A9%E3%82%A435%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA">→wikipedia</a>
    </aside>
</div>

</body>
<footer>
    <div class="wrapper">
        <p><small>&copy; 2021 furukawa3152</small></p>
    </div>

</footer>
</html>