<!DOCTYPE html>
<html lang="ja">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <title>itaru's Products profile</title>
<!--  css-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">

</head>
<body>
<!--このDIVで囲った部分いっぱいに画像を表示-->
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="index.html"><img class="logo" src="static/images/logo.png" alt="itapro"></a> </h1>
            <nav>
                <button class="btn-menu">Menu</button>
                <ul class="top-nav">
                    <li><a href="index.html">Top</a> </li>
                    <li><a href="code.html">Code</a> </li>
                    <li><a href="library.html">Photos</a> </li>
                    <li><a href="contact.html">contact</a> </li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>

            </nav>

        </header>
        <div class="prof-content">
            <h1 class="prof-title">Profile</h1>
            <p class="prof_icon">
                <img  src="static/images/kaeru_icon.jpg" alt="kaeru.jpg" width=250rem>
            </p>
            <h1 class="prof-title">Itaru</h1>
            <h4 class="prof-subtitle">なんでも面白くしたい人。<br>
                40歳手前にして県主催の講座をきっかけにプログラミング（python）にハマる。<br>
                佐賀県が生んだ伝説のプログラマー育成カリキュラム、<br>「SAGA Smart Samurai ゼロから始めるプログラミング塾」１期生。<br>
                本業は医療系事務。pythonでゴリゴリ自動化を目指す。<br><br>
                html、css練習にてサイト作成中。<br><br>
                好き⇒guitar coffee camera 嫁と双子の娘<br>

            </h4>
        </div>


    </div>
    <script src="static//script.js"></script>
</body>
</html>